.horizontal-megamenu.mega-menu > .fluid-menu {
  position: initial !important;
  padding-right: 20px;
}

.horizontal-megamenu > .nav-item > .nav-link {
    text-transform: capitalize !important;
    line-height: 27px !important;
    position: relative !important;
    margin-bottom: -1px !important;
    padding: 0px 0px 0px !important;
    color: #fff !important;
    font-weight: 500 !important;
    white-space: nowrap !important;
    -webkit-transition: none !important;
    transition: none !important;
    display: block !important;
    font-size: 14px !important;
  }


.horizontal-megamenu > .nav-item > .nav-link > i {
    position: absolute !important;
    top: 50% !important;
    right: -21px !important;
    color: #ffffff !important;
    -webkit-transform: translateY(-50%) rotate(90deg) !important;
    transform: translateY(-50%) rotate(90deg) !important;
}

.header-column-right {
    height: 46px !important;
    padding: 0 0px !important;
}

.la-heart:before {
    content: "\F004" !important;
    color: #fff !important;
    font-size: 25px !important;
}

.la-cart-arrow-down:before {
    content: "\F218";
        color: #fff !important;
    font-size: 25px !important;
}


.header-column-right .icon-wrap > .count {

    color: #000 !important;
    background: #fff !important;

}
.buttonseemore {
    transition: all .5s ease;
    color: #26953f;
    border: 2px solid #26953f;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    line-height: 1;
    font-size: 12px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;

}
.buttonseemore:hover {
    color: #001F3F;
    background-color: #26953f;
    
}

